<a href="https://colab.research.google.com/github/Manusha17/Hadoop-3-MapReduce/blob/master/Big_Data_CA2_PySpark_Aggregate_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<h1>Big Data CA2 - PySpark Aggregate Functions</h1>

In [ ]:
!pip install pyspark

In [ ]:
from pyspark.sql import functions as f
from pyspark.sql import SparkSession
import pandas as pd

spark = SparkSession.builder.getOrCreate()

df = pd.read_csv('https://query.data.world/s/ucswsevlpdlypgtml7z2gpy2pgnhgj')
df.to_csv("sales_table.csv")

dataframe_sales = spark.read.csv('sales_table.csv',header=True,inferSchema=True)

dataframe_sales.show(2)

**Min Function**

In [ ]:
dataframe_sales.agg(f.min('bottle_qty')).show()
dataframe_sales.groupby('county').min('bottle_qty').show(2)

+---------------+
|min(bottle_qty)|
+---------------+
|              1|
+---------------+

+--------+---------------+
|  county|min(bottle_qty)|
+--------+---------------+
|Harrison|              1|
|   Scott|              1|
+--------+---------------+
only showing top 2 rows

**Max Function**

In [ ]:
dataframe_sales.agg(f.max('bottle_qty')).show()
dataframe_sales.groupby('county').max('bottle_qty').show(2)

+---------------+
|max(bottle_qty)|
+---------------+
|           3456|
+---------------+

+--------+---------------+
|  county|max(bottle_qty)|
+--------+---------------+
|Harrison|            180|
|   Scott|           1440|
+--------+---------------+
only showing top 2 rows

**Count Function**

In [ ]:
dataframe_sales.agg(f.count('bottle_qty')).show()
dataframe_sales.groupby('category_name').count().show(2)

+-----------------+
|count(bottle_qty)|
+-----------------+
|          3049913|
+-----------------+

+-----------------+-----+
|    category_name|count|
+-----------------+-----+
|IMPORTED SCHNAPPS|51859|
|   PEACH BRANDIES| 3868|
+-----------------+-----+
only showing top 2 rows

**Sum Function**

In [ ]:
dataframe_sales.agg(f.sum('bottle_qty')).show()
dataframe_sales.groupby('county').sum('bottle_qty').show(2)

+---------------+
|sum(bottle_qty)|
+---------------+
|       30075263|
+---------------+

+--------+---------------+
|  county|sum(bottle_qty)|
+--------+---------------+
|Harrison|          52909|
|   Scott|        2298322|
+--------+---------------+
only showing top 2 rows

**Average Function**

In [ ]:
dataframe_sales.agg(f.avg('bottle_qty')).show()
dataframe_sales.groupby('county').avg('bottle_qty').show(2)

+-----------------+
|  avg(bottle_qty)|
+-----------------+
|9.861023248859885|
+-----------------+

+--------+------------------+
|  county|   avg(bottle_qty)|
+--------+------------------+
|Harrison| 4.679727578277021|
|   Scott|12.204343670348344|
+--------+------------------+
only showing top 2 rows

**Mean Function**

In [ ]:
dataframe_sales.agg(f.mean('bottle_qty')).show()
dataframe_sales.groupby('county').mean('bottle_qty').show(2)

+-----------------+
|  avg(bottle_qty)|
+-----------------+
|9.861023248859885|
+-----------------+

+--------+------------------+
|  county|   avg(bottle_qty)|
+--------+------------------+
|Harrison| 4.679727578277021|
|   Scott|12.204343670348344|
+--------+------------------+
only showing top 2 rows

**Standard deviation Function**

In [ ]:
dataframe_sales.agg(f.stddev('bottle_qty')).show()

+-----------------------+
|stddev_samp(bottle_qty)|
+-----------------------+
|      23.50626713268944|
+-----------------------+

**Skewness Function**

In [ ]:
dataframe_sales.agg(f.skewness('bottle_qty')).show()

+--------------------+
|skewness(bottle_qty)|
+--------------------+
|  25.079418524487952|
+--------------------+